<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/betplayapp/api/javascript/form.js"></script>
    <title>Document</title>
</head>

<body>
    <section>
        <h4>Formulario para el registro de usuario</h4>
        <br>
        <form>
            <h5>Ingrese el título</h5>
            <input type="text" placeholder="Capitan">
            <h5>Ingrese el nombre</h5>
            <input type="text" placeholder="Marco">
            <h5>Ingrese el apellido</h5>
            <input type="text" placeholder="Fenix">
            <br>
            <br>
            <button>Guardar</button>
        </form>
    </section>
</body>

</html>